{% extends "AppFinal/padre.html" %}
{% load static %}
{% block contenidoQueCambia %}
<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <hr class="my-4" />
            <h3 class="post-subtitle">¡Bienvenidx a mi blog de recetas veganas! </h3>
                
            <p>Mi nombre es Carolina y quiero compartir con vos recetas fáciles y sin sufrimiento animal. En este blog vas a encontrar recetas dulces, saladas, sin gluten, ¡de todo tipo!</p>
            <p>También podés encontrar información de productos veganos en la sección de Recomendaciones.</p>

            <hr class="my-4" />
        </div>
    </div>
</div>

{% endblock %}
{% block section_name %}
<br>

<head><b>Conoceme</b></head>
{% endblock %} 