{% extends "AppFinal/padre.html" %}
{% load static %}
{% block contenidoQueCambia %}
<header class="masthead" style="background-image: url('../../static/AppFinal/assets/img/g2.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h2 class="subheading">Github</h2>
                    <span class="meta">
                        <p>github.com/carolinadauria</p>
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>
<header class="masthead" style="background-image: url('../../static/AppFinal/assets/img/i2.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h2 class="subheading">Instagram</h2>
                    <span class="meta">
                        <p>instagram.com/carolinadauria</p>
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}
{% block section_name %}
<br>

<head><b>Contacto</b></head>
{% endblock %} 