<!DOCTYPE html>
<html lang="en">
    {% extends "AppFinal/padre.html" %}
    {% load static %}
    {% block contenidoQueCambia %}
    <body>
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('assets/img/post-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="post-heading">
                            <h1>Budín de Limón</h1>
                            <h2 class="subheading">Suave y esponjoso</h2>
                            <span class="meta">
                                Posted by
                                <a href="#!">veggiencasa</a>
                                el 24/06/2022
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Post Content-->
        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <h2>Ingredientes</h2>
                        <li>300g de harina 0000 o premezcla + 2 cdtas de polvo para hornear + pizca de sal.</li>
                        <li>120g de azúcar.</li> 
                        <li>limón: 50 ml jugo + 2 cdas de ralladura.</li> 
                        <li>4 cdas de aceite.</li> 
                        <li>200ml de agua o leche vegetal.</li> 
                        <li>1 cdta de esencia de vainilla.</li> 
                        <li>para el glasé: azúcar impalpable + ralladura de limón + leche vegetal.</li>
                        <br>
                        <h2>Preparación</h2>
                        <ol>
                        <li>Mezclá todos los secos en un bowl (harina, polvo para hornear, sal y azúcar).</li>
                        <li>Agregá los líquidos (aceite, agua, esencia, jugo) y la ralladura. Incorporá hasta que no haya grumos.</li>
                        <li>Verté en molde de budín aceitado y enharinado y llevá a horno precalentado a 180 grados por 40 minutos o hasta que al pincharlo salga seco.</li>
                        <li>Cuando enfríe el budín, hacé el glasé mezclando el azúcar impalpable con la ralladura y agregando de a poco la leche vegetal. </li>
                        </ol>
                    </div>
                </div>
            </div>
        </article>
        {% endblock %}
    </body>
</html>
