<!DOCTYPE html>
<html lang="en">
    {% extends "AppFinal/padre.html" %}
    {% load static %}
    {% block contenidoQueCambia %}
    <body>
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('../../static/AppFinal/assets/img/m1.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="post-heading">
                            <h1>Muffins de Limón y Arándanos</h1>
                            <h2 class="subheading">Fáciles, ricos y de pocos ingredientes</h2>
                            <span class="meta">
                                Posted by
                                hacialoprofundo
                                el 25/06/2022
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Post Content-->
        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <h2>Ingredientes</h2>
                        <li>2 tazas harina 0000.</li>
                        <li>1 taza de azúcar mascabo.</li>
                        <li>1 +  ½ taza de leche vegetal sin endulzar.</li> 
                        <li>Ralladura de 1 limón y jugo de ½.</li> 
                        <li>1 cda colmada de aceite de coco.</li> 
                        <li>3 cdtas de polvo para hornear.</li> 
                        <li>1 pizca de bicarbonato de sodio.</li> 
                        <li>Arándanos.</li>                    
                        <br>
                        <h2>Preparación</h2>
                        <ol>
                        <li>En un bowl vamos a poner los ingredientes secos (la harina, el azúcar, el polvo para hornear y el bicarbonato), y en otro vamos a mezclar la leche vegetal, el jugo y la ralladura de limón y el aceite de coco.</li>
                        <li>Incorporamos la mezcla líquida al bowl de los secos y mezclamos hasta integrar bien todo.</li>
                        <li>Agregar los arándanos.</li>
                        <li>Pasamos la mezca a unos moldes para muffins (salen aprox 10) y llevamos a hornear a 180° por media hora.</li>
                        </ol>
                    </div>
                </div>
            </div>
        </article>
        {% endblock %}
    </body>
</html>
